@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/*-------- Global Style---------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: "Poppins", sans-serif;
    font-size: 50px; 
    font-weight: bold;
    color: #3A3A3A;
}

h2{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #3A3A3A;
}

h3{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #18191F;
}
h4{
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #000000;
}


p{
   font-family: "Inter", sans-serif;
   font-size: 16px;
}


@media screen and (max-width: 576px){
h1{
    font-family: "Poppins", sans-serif;
    font-size: 30px; 
    font-weight: bold;
    color: #3A3A3A;
}

h2{
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #3A3A3A;
}

h3{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #18191F;
}
h4{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}


p{
   font-family: "Inter", sans-serif;
   font-size: 14px;
}

}

.primary_text_color{
    color: #3A3A3A;
}
.heading_text_color{
    color: #0A0826;
}

.display_flex{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 576px){
  .display_flex{
    flex-direction: column;
  }
}

.btn{
    background-color: #E02C6D;
    color: white;
    border: none;
    padding: 15px 10px;
    border-radius: 41px;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.image{
    width: 100%;
}
.gap{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.section_header{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0px;
}


/*-------- Header Style---------- */

/* nav bar styles */
.container{ 
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    
}
.header{
    justify-content: space-between;
    align-items: center;
}
.header .brand{
    font-weight: bold;
    font-size: 24px;
    color: #3A3A3A;
}
.header ul{
    margin-left:auto;
}
.header ul li {
    list-style: none;
    display: flex;
    gap: 34px;
}
.header ul li a{
    font-weight: 500 ;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    
}

.header .icons{
    display: flex;
    gap: 34px;
    margin-left: 34px;
}



/* Hero section start */
.hero{
    justify-content: space-between;
    align-items: center;
  
    
}
.hero .hero_right_image{
    background-image:url('./images/Circle\ design.svg') ;
    background-repeat: no-repeat;
    background-position: center;
}

.hero .hero_left_info{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
}


/*============== Media Query For Hero ================== */
@media screen and (max-width: 576px){
  .hero{
    flex-direction: column-reverse;
  
  }
  .hero .hero_left_info{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}













/* Start Brand Section  */
.brands{
  display: grid;
  grid-template-columns: repeat(7, max-content);
  justify-content: center;
  gap: 50px;
  border-top: 1px solid #C0CCDA;
  border-bottom: 1px solid #C0CCDA;
  padding: 20px 0px;
  align-items: center;
  border-radius: 8px;
  margin: 60px 0px
  
}
/*============== Media Query For brands ================== */

@media screen and (max-width: 576px){
  .brands{
  grid-template-columns: repeat(4, max-content);
  gap: 10px;
  margin: 40px 0px;
  
  }
  .brands img{
   max-width: 70px;
  }
}

@media screen and (min-width: 576px) and (max-width: 996px){
.brands{
  grid-template-columns: repeat(5, max-content);
  gap: 20px;
  
  }
}





/* Start Product Section  */

.product_cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 40px;

}
.products .product_card_item{
  background-color: #ffffff;
  box-shadow: 
    0 4px 12px rgba(0, 0, 0, 0.08),
    0 10px 30px rgba(0, 0, 0, 0.12);
    border-radius:12px; 
    padding: 14px;

   
}

.products .product_card_item img{
  width: 100%;
  text-align: center;
}

.products .product_card_item h4{
  font-size: 24px;
}


@media screen and (max-width: 576px){
  .product_cards{
  grid-template-columns: repeat(1,1fr);

}
  .reviews{
    display: flex;
    flex-direction: row;
  }

}

@media screen and (min-width: 576px) and (max-width: 996px){
   .product_cards{
  grid-template-columns: repeat(2,1fr);

}
}

/* @media screen and (min-width: 576px) and (max-width: 996px){} */